*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
img{
  display: inline-block;
  width: 100px;
  height: 30px;
}
.cont{
  width: 100%;
  height: 100vh;
  /* border:  2px solid black; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  background-color: #ededed;
}


.header-container{
  /* border: 2px solid red; */
  /* background-color: red; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  padding: 20px;
  width:  100%;
 

  display: flex;
  justify-content: center;
}


.Search-field{
  /* border: 2px solid red; */
  display : flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  height: 45px;

}
.question-btn{
    background-color: #b92b27;
    color: #fff;
    font-size: 18px;
    padding: 5px 30px;
    border: 0px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 20px;
}

.homepage{

  /* border: 2px solid  black; */
  background-color: rgb(234, 231, 231);
  display: flex;
  justify-content: space-evenly;


}
.container-feeds{
  /* border: 2px solid #aaa; */
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.feeds-container{
    width: 65%;
    /* border: 2px solid  red; */
  }







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
